# Supabase Credentials for Sisinau E-Learning Platform
# Salin file ini menjadi .env.local dan masukkan kredensial Supabase Anda.

NEXT_PUBLIC_SUPABASE_URL=https://yyybytcxbcfmahxeeipr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl5eWJ5dGN4YmNmbWFoeGVlaXByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyODM1MDEsImV4cCI6MjA5ODg1OTUwMX0.yTGCFsofBo9GxyP8woGxu3GDU4ykzdC5Auwud6BeB7c
